  <section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        <div class="col-md-3">
          <div class="card" style="width: 15rem; height:27rem">
            <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="..." style="height: 15rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.Name}}</h5>
              <p class="card-text text-success" style="font-weight: 600;">{{this.Offer}}% Offer</p>
              <p class="card-text" style="font-weight: bold;">Rs: {{this.Price}}</p>
              <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  